.navbar{
    height: 4rem;
}


#sidebar{
    background-color: #051E34;
    height: calc(100% - 4rem);
    width: 10rem;
}

.topMenu{
    height: calc(100% - 8rem);
}

.bottomMenu{
    height: 8rem;
}

.notDot{
    list-style-type: none;
}

#home{
    width: calc(100% - 10rem);
    height: 100rem;
}
