/* HEADER */

header{
    height: 50px;
}

.my_logo{
    max-height: 3rem;
}

/* NAVBAR LEFT */

#sidebar{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    height: calc(100vh - 50px);
    width: 10rem;
}

.list:hover{
    background-color: grey;
    color: white;
}

.menu{
    height: 55rem;
}

.topMenu{
    height: calc(100% - 8rem);
}

.bottomMenu{
    height: 8rem;
}

.notDot{
    list-style-type: none;
}

/* MAIN */

main{
    overflow-y: hidden;
}

.bg-blue{
    background-color: rgb(0, 119, 179);
}

#home{
    width: calc(100% - 10rem);
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.cerchio{
    width: 2rem;
}

/* MEDIA QUERY */

/* @media screen and (max-width: 992px) {

    #sidebar{
        max-width: 5rem;
    }

}

@media screen and (max-width: 768px) {
    #sidebar{
        max-width: 5rem;
    }
}  */

